.idea/
.terraform/
.infracost/
*.tfstate
*.tfstate.backup
.terraform.lock.*
*.iml
*.DS_Store
*.tfvars
*.log
.venv/
env/
__pycache__/
*.pyc
*.pyo
.python-version
*.manifest
*.spec
build/
dist/
*.egg-info/
*.egg
.ipynb_checkpoints/
__pypackages__/
